<?php
/*
 * This document has been generated with
 * https://mlocati.github.io/php-cs-fixer-configurator/#version:2.16.1|configurator
 * you can change this configuration by importing this file.
 */
return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@Symfony' => true,
        'blank_line_before_statement' => ['statements'=>['break','continue','declare','return','throw','try','if']],
        'yoda_style' => ['equal'=>false,'identical'=>false,'less_and_greater'=>false],
        'declare_strict_types' => true,
        'global_namespace_import' => ['import_functions'=>true],
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude('vendor')
        ->in(__DIR__)
    )
    ;
